<div class="pure-menu pure-menu-horizontal container">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <form class="pure-form">
            <input name="search" type="text" placeholder="Search by Album name">
          </form>
        </li>
        <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">Search</a></li> -->
        <a href="/logout"><button class="pure-button left-margin">Logout</button></a>
    </ul>
</div>
<div class="container">
  <div class="record-box">
    <div class="photo-div">
        <img class="photo" src="https://placekitten.com/251/251" alt="" />
        <h2>Gardens and Villa</br></h2>
    </div>
  </div>
  <div class="record-box">
    <div class="photo-div">
        <img class="photo" src="https://placekitten.com/251/251" alt="" />
        <h2>Gardens and Villa</br></h2>
    </div>
  </div>
  <div class="record-box">
    <div class="photo-div">
        <img class="photo" src="https://placekitten.com/251/251" alt="" />
        <h2>Gardens and Villa</br></h2>
    </div>
  </div>
  <div class="record-box">
    <div class="photo-div">
        <img class="photo" src="https://placekitten.com/251/251" alt="" />
        <h2>Gardens and Villa</br></h2>
    </div>
  </div>
  <div class="record-box">
    <div class="photo-div">
        <img class="photo" src="https://placekitten.com/251/251" alt="" />
        <h2>Gardens and Villa</br></h2>
    </div>
  </div>
  <div class="record-box">
    <div class="photo-div">
        <img class="photo" src="https://placekitten.com/251/251" alt="" />
        <h2>Gardens and Villa</br></h2>
    </div>
  </div>

</div>

