<div class="pure-menu pure-menu-horizontal container">
    <ul class="pure-menu-list">
        <a href="/search"><button class="pure-button left-margin">Search!</button></a>
        <a href="/logout"><button class="pure-button left-margin">Logout</button></a>
    </ul>
</div>
<div class="container">
  <div class="record-box">
    <div class="photo-div">
        <img class="photo" src="https://placekitten.com/251/251" alt="" />
        <h2>Gardens and Villa</br></h2>
    </div>
  </div>
</div>

