<div class="pure-menu pure-menu-horizontal container">
    <ul class="pure-menu-list">
        <a href="/users/<%=@user.id%>"><button class="pure-button left-margin">Home</button></a>
        <a href="/search"><button class="pure-button left-margin">Search!</button></a>
        <a href="/logout"><button class="pure-button left-margin">Logout</button></a>
    </ul>
</div>
<div class="record-list container">
  <%@records.each do |record| %>
    <div class="record-box">
      <div class="photo-div">
          <a href=""><img class="photo" src="<%=record.image_url%>" alt="" /></a>
          <h2 id="album-photo-name"><%=record.artist%></br><%=record.name%></h2>
      </div>
    </div>
  <%end%>
</div>



