 <div class="record-box">
    <div class="photo-div">
        <a href=""><img class="photo" src="<%=url%> " alt="" /></a>
        <h2 id="album-photo-name"> <%=artist%> </br> <%=name%> </h2>
    </div>
</div>
