 <div class="record-box">
    <div class="photo-div">
        <a href=""><img class="photo" src="https://i.scdn.co/image/599a81047ccba26ecd26941359513f2fea73d876" alt="" /></a>
        <h2 id="album-photo-name">Gardens and Villa</br></h2>
    </div>
</div>
