<div class="container">
  <ul>
    <%albums.each do |album|%>
    <li>
      <h2><%=album.artists.first.artists.first.name%></h2></br>
      <h3><%=album.artists.first.release_date%></h3></br>
      <form class="pure-form" action="/list" method="post">
        <input id="select-button" type="submit" value="select this album">
      </form>
    </li>
  </ul>
</div>
