<div class="container">
  <ul>
    <% albums.each do |album|%>
    <li>
      <h3>
      Album Name: <%=album.name %></br>
      Artist: <%=album.artists.first.name%></br>
      Release Date: <%=album.release_date%></h3></br>
      <%tracks = album.tracks.map {|track| track.name} %>
      Tracks: <% tracks.each do |track| %>
                <li> <%=track%> </li>
              <%end %></br>
      <form class="pure-form" action="/list" method="post">
        <input class="pure-button" type="submit" value="select this album">
      </form>
    </li></br>
    <% end %>
  </ul>
</div>
