<div class="pure-menu pure-menu-horizontal container search-page">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <form class="pure-form" action="/search" method="post">
            <input name="album" type="text" placeholder="Search by Album name">
            <input id="album-search" class="pure-button" type="submit" value="Search!">
          </form>
        </li></br></br>
        <li class="pure-menu-item">
          <form class="pure-form" action="/search" method="post">
            <input name="artist" type="text" placeholder="Search by Artist name">
            <input class="pure-button" type="submit" value="Search!">
          </form>
        </li>
    </ul>
</div>
