<div class="pure-menu pure-menu-horizontal container search-page">
    <ul class="pure-menu-list">
        <a href="/users/<%=@user.id%>"><button class="pure-button left-margin">Home</button></a>
        <a href="/logout"><button class="pure-button left-margin">Logout</button></a>
        <li class="pure-menu-item">
          <form class="pure-form album-search" action="/search" method="post">
            <input name="album" type="text" placeholder="Search by Album name">
            <input class="pure-button" type="submit" value="Search!">
          </form>
        </li>
        <li class="pure-menu-item">
          <form class="pure-form" action="/search" method="post">
            <input name="artist" type="text" placeholder="Search by Artist name">
            <input class="pure-button" type="submit" value="Search!">
          </form>
        </li>
    </ul>
</div>


<div class="container album-list">
</div>
