<div class="pure-menu pure-menu-horizontal container">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <form class="pure-form">
            <input name="album" type="text" placeholder="Search by Album name">
          </form>
        </li>
        <li class="pure-menu-item">
          <form class="pure-form">
            <input name="artist" type="text" placeholder="Search by Artist name">
          </form>
        </li>
        <a href="/logout"><button class="pure-button left-margin">Logout</button></a>
    </ul>
</div>
<div class="container">
</div>
